<div id="page-game" class="page">
    <ul class="list-players"></ul>
    <input id="btn-add-player" type="button" value="Add player" />
    <input id="btn-start-battle" type="button" value="Begin battle" />
</div>