@Html.Partial("Pages/_Home")
@Html.Partial("Pages/_Game")

<div id="templates">
    <div class="game">
        @Html.Partial("Templates/_Character")
        @Html.Partial("Templates/_Player")
    </div>
</div>