<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SRPG</title>
        
        <link href="~/Content/Shared/Template.css" rel="stylesheet" />
        <link href="~/Content/Menu/Page.css" rel="stylesheet" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        
        <script src="~/Scripts/Shared/GlobalVariables.js"></script>
        <script src="~/Scripts/Shared/Server.js"></script>

        <script src="~/Scripts/UI/Templates/Templates.js"></script>

        <script src="~/Scripts/Menu/Page.js"></script>

        <script src="~/Scripts/Game/Ability.js"></script>
        <script src="~/Scripts/Game/Attribute.js"></script>
        <script src="~/Scripts/Game/Battle.js"></script>
        <script src="~/Scripts/Game/Character.js"></script>
        <script src="~/Scripts/Game/CharacterAttribute.js"></script>
        <script src="~/Scripts/Game/CharacterType.js"></script>
        <script src="~/Scripts/Game/Effect.js"></script>
        <script src="~/Scripts/Game/Game.js"></script>
        <script src="~/Scripts/Game/Item.js"></script>
        <script src="~/Scripts/Game/ItemAbility.js"></script>
        <script src="~/Scripts/Game/Player.js"></script>
        
        <script src="~/Scripts/Shared/Initialization.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>